<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>Elden Ring</title>
        <link rel="icon" href="{{ url_for('static', filename='ER_logo.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}"/>    
    </header>
    <body>
        <div class="w3-card-4">
            <header class="w3-container w3-blue-grey">
                <h1>Elden Ring</h1>
            </header>
            <div class="w3-container">
                <ul class="w3-ul">
                    <li><a href="/weapons">Weapons</a></li>
                    <li><a href="/shields">Shields</a></li>
                    <li><a href="/sorceries">Sorceries</a></li>
                    <li><a href="/spirits">Spirits</a></li>
                    <li><a href="/talismans">Talismans</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>