<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elden Ring</title>
    <link rel="icon" href="{{ url_for('static', filename='ER_logo.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}"/>
</head>
<body>
    <div class="w3-card-4">
        <header class="w3-container w3-blue-grey">
            <h1>Elden Ring</h1>
        </header>
        <div class="w3-container">
            <button class="w3-right w3-button w3-blue"  onclick="location.href='/new_element'">Adicionar entrada na ontologia</button>
            <ul class="w3-ul">
                <li><a href="/incantations">Incantations</a></li>
                <li><a href="/locations">Locations</a></li>
                <li><a href="/regions">Regions</a></li>
                <li><a href="/npcs">NPCs</a></li>
                <li><a href="/items">Items</a></li>
                <li><a href="/weapons">Weapons</a></li>
                <li><a href="/shields">Shields</a></li>
                <li><a href="/sorceries">Sorceries</a></li>
                <li><a href="/spirits">Spirits</a></li>
                <li><a href="/talismans">Talismans</a></li>
                <li><a href="/armors">Armors</a></li>
                <li><a href="/ashes">Ashes</a></li>
                <li><a href="/classes">Classes</a></li>
                <li><a href="/ammos">Ammos</a></li>
                <li><a href="/bosses">Bosses</a></li>
            </ul>
        </div>
    </div>
</body>
</html>

