<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elden Ring: {{ data.details.name }}</title>
    <link rel="icon" href="{{ url_for('static', filename='ER_logo.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}"/>
</head>
<body>
    <div class="w3-card-4">
        <header class="w3-container w3-blue-grey">
            <h1>{{ data.details.name }}</h1>
            {% if data.details.img %}
                <p><img src="{{ data.details.img }}" alt="item image" style="width: 100px; height: auto;"></p>
            {% endif %}
            <p><a href="/">[Página Principal]</a></p>
            <p><a href="/items">[Página dos Itens]</a></p>
            <p><a href="/items/{{ data.type[0] }}">[Página da Subclasse]</a></p>
            <form action="/items/{{data.type[0]}}" method="post">
                <input type="hidden" name="item_type" value="delete">
                <input type="hidden" name="item_uri" value={{data.type[1]}}>
                <button class="w3-right w3-button w3-blue"  onclick="location.href='/weapons/{{data.type[0]}}'">Delete entry</button>
            </form>
        </header>
        <div class="w3-container">
            <div class="w3-container">
                <header class="w3-container w3-blue-grey" style="margin-top:2%">
                    <h4>Descrição</h4>
                </header>
                <p>{{ data.details.desc }}</p>
            </div>
            <div class="w3-container">
                <header class="w3-container w3-blue-grey">
                    <h4>Efeito</h4>
                </header>
                <p>{{ data.details.effect }}</p>
            </div>
            {% if data.details.boss != None %}
            <div class="w3-container">
                <header class="w3-container w3-blue-grey">
                    <h4>dropado por</h4>
                </header>
                {% for entry in data.details.boss %}
                <a href="/bosses/{{ entry[0]}}">{{ entry[1] }}</a>
                <br>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
