<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elden Ring</title>
    <link rel="icon" href="{{ url_for('static', filename='ER_logo.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}"/>
</head>
<body>
    <div class="w3-card-4">
        <header class="w3-container w3-blue-grey">
            <h1>Adicionar nova entrada na ontologia</h1>
            <p><a href="/">[Página Principal]</a></p>
        </header>
        <div class="w3-container">
            <ul class="w3-ul">
                <li><a href="/new_element/Incantations">Incantations</a></li>
                <li><a href="/new_element/Location">Locations</a></li>
                <li><a href="/new_element/Region">Regions</a></li>
                <li><a href="/new_element/Npcs">NPCs</a></li>
                <li><a href="/new_element/Items">Items</a></li>
                <li><a href="/new_element/Weapons">Weapons</a></li>
                <li><a href="/new_element/Shields">Shields</a></li>
                <li><a href="/new_element/Sorceries">Sorceries</a></li>
                <li><a href="/new_element/Spirits">Spirits</a></li>
                <li><a href="/new_element/Talismans">Talismans</a></li>
                <li><a href="/new_element/Armors">Armors</a></li>
                <li><a href="/new_element/Ashes">Ashes</a></li>
                <li><a href="/new_element/Classes">Classes</a></li>
                <li><a href="/new_element/Ammos">Ammos</a></li>
                <li><a href="/new_element/Boss">Bosses</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
