<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Elden Ring : {{ data.data[0].name.value }}</title>
    <link rel="icon" href="{{ url_for('static', filename='ER_logo.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}"/>    
</head>
<body>
    <div class="w3-card-4">
        <header class="w3-container w3-blue-grey">
            <h1>{{ data.data[0].name.value }}</h1>
            <p><img src="{{ data.data[0].img.value }}" alt="weapon image" style="width: 100px; height: auto;"></p>
            <p><a href="/">[Página Principal]</a></p>
            <p><a href="/shields/{{data.type[0]}}">[Página do tipo de escudo]</a></p>
            <form action="/shields/{{data.type[0]}}" method="post">
                <input type="hidden" name="item_type" value="delete">
                <input type="hidden" name="item_uri" value={{data.type[1]}}>
                <button class="w3-right w3-button w3-blue"  onclick="location.href='/shields/{{data.type[0]}}'">Delete entry</button>
            </form>
        </header>
        <div class="w3-container">
            <div class="w3-container">
                <header class="w3-container w3-blue-grey" style="margin-top: 2%;">
                    <h4>Descrição</h4>
                </header>
                <p>{{ data.data[0].desc.value }}</p>
            </div>
            <div class="w3-container">
                <header class="w3-container w3-blue-grey">
                    <h4>Dano</h4>
                </header>
                <table class="w3-table-all">
                    <tr>
                        {% for type in data.data[0].dmg_t.value %}
                        <td>{{ type.name }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for type in data.data[0].dmg_t.value %}
                        <td>{{ type.amount }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <div class="w3-container">
                <header class="w3-container w3-blue-grey">
                    <h4>Defesa</h4>
                </header>
                <table class="w3-table-all">
                    <tr>
                        {% for type in data.data[0].dfc_t.value %}
                        <td>{{ type.name }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for type in data.data[0].dfc_t.value %}
                        <td>{{ type.amount }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <div class="w3-container">
                <header class="w3-container w3-blue-grey">
                    <h4>Requisitos</h4>
                </header>
                <table class="w3-table-all">
                    <tr>
                        {% for type in data.data[0].requires.value %}
                        <td>{{ type.name }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for type in data.data[0].requires.value %}
                        <td>{{ type.amount }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <div class="w3-container">
                <header class="w3-container w3-blue-grey">
                    <h4>Escala</h4>
                </header>
                <table class="w3-table-all">
                    <tr>
                        {% for type in data.data[0].scales.value %}
                        <td>{{ type.name }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for type in data.data[0].scales.value %}
                        <td>{{ type.scaling }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <div class="w3-container">
                <header class="w3-container w3-blue-grey">
                    <h4>Peso</h4>
                </header>
                <p>{{ data.data[0].wght.value }}</p>
            </div>
        </div>
    </div>
</body>
</html>
